@model HavillahWebUI_MVC.Models.Product.IndexViewModel

<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <form asp-action="AddProduct" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="id-field"/>
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="position-relative d-inline-block">
                                    <div class="position-absolute bottom-0 end-0">
                                        <label for="lead-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                            <div class="avatar-xs cursor-pointer">
                                                <div class="avatar-title bg-light border rounded-circle text-muted">
                                                    <i class="ri-image-fill"></i>
                                                </div>
                                            </div>
                                        </label>
                                        <input class="form-control d-none" value="" id="lead-image-input" type="file" accept="image/png, image/gif, image/jpeg">
                                    </div>
                                    <div class="avatar-lg p-1">
                                        <div class="avatar-title bg-light rounded-circle">
                                            <img src="assets/images/users/user-dummy-img.jpg" id="lead-img" class="avatar-md rounded-circle object-cover"/>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="fs-13 mt-3">Product Image</h5>
                            </div>
                            <div>
                                <label asp-for="@Model.AddProductDto.ProductName" class="form-label">Product Name</label>
                                <input type="text" id="productName" class="form-control" asp-for="@Model.AddProductDto.ProductName" placeholder="Enter Product Name" required/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label asp-for="@Model.AddProductDto.ProductCode" class="form-label">Product Code</label>
                                <input type="text" id="productCode" class="form-control" asp-for="@Model.AddProductDto.ProductCode" placeholder="Enter Product Code" required/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label asp-for="@Model.AddProductDto.Description" class="form-label">Description</label>
                                <input type="text" id="description" class="form-control" asp-for="@Model.AddProductDto.Description" placeholder="Enter description" required/>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <div>
                                <label asp-for="@Model.AddProductDto.DefaultBuyingPrice" class="form-label">Default Buying Price</label>
                                <input type="text" id="defaultBuyingProce" class="form-control" asp-for="@Model.AddProductDto.DefaultBuyingPrice"
                                       placeholder="Enter default buying price" required/>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <div>
                                <label asp-for="@Model.AddProductDto.DefaultSellingPrice" class="form-label">Default Selling Price</label>
                                <input type="text" id="defaultSellingProce" class="form-control" asp-for="@Model.AddProductDto.DefaultSellingPrice"
                                       placeholder="Enter default selling price" required/>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-12">
                            <div>
                                <label asp-for="@Model.AddProductDto.Quantity" class="form-label">Quantity</label>
                                <input type="number" id="quantity" class="form-control" asp-for="@Model.AddProductDto.Quantity" placeholder="Enter Quantity" required/>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <div>
                                <label asp-for="@Model.AddProductDto.ImageFile" class="form-label">Product Image</label>
                                <input class="form-control" asp-for="@Model.AddProductDto.ImageFile" accept="image/*"/>
                            </div>
                        </div>
                        <!--end col-->
                        <!--end col-->
                        @* <div class="col-lg-12"> *@
                        @*     <div> *@
                        @*         <label for="taginput-choices" class="form-label">Measurement Unit</label> *@
                        @*         <select class="form-control" name="taginput-choices" id="taginput-choices" multiple> *@
                        @*             <option value="Lead">Inches</option> *@
                        @*             <option value="Partner">Meter</option> *@
                        @*         </select> *@
                        @*     </div> *@
                        @* </div> *@
                        @* <div class="col-lg-12"> *@
                        @*     <div> *@
                        @*         <label for="date-field" class="form-label">Created Date</label> *@
                        @*         <input type="date" id="date-field" class="form-control" data-provider="flatpickr" data-date-format="d M, Y" placeholder="Select Date" required/> *@
                        @*     </div> *@
                        @* </div> *@
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="add-btn">Add Product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>